@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

html,
#root,
body,
.app {
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #0f151b;
  color: white;
  padding: 0;
  margin: 0;
}
